h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
}
.encabezado-contenido{
    background-color: grey;
    margin-top: 1%;
    margin-top: 5%;
}

.encabezado-contenido h1{
    text-align: left;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.texto{
    margin-top: 2%;
    margin-left: 10% ;
    margin-right: 10%;
    font-size: 1.5vw;
    text-align: justify;
}
.logo{
    width: 12%;
    margin-right: 3%;
    margin-bottom: 3%;
}
.div-logo img{
    float: left;
}